<div class="card" ...attributes>
  <div class="card-header">
    <LinkTo @route="battle" @model={{@model}} >{{@model.name}} / {{this.date}}</LinkTo>
  </div>
  <div class="card-body">
    <div class="card-text">Winner: <span class="badge bg-success">{{@model.winner.name}}</span></div>

    <div class="row mt-4">
      {{#each @model.battlables as |battlable|}}
        <div class="col-sm-6">
          <Ui::Cart @model={{battlable}} />
        </div>
      {{/each}}
    </div>
  </div>
</div>