<div class="panel">
  <div class="panel-body">
    <div class="row">
      <div class="col-sm-12">
           <BsTab as |tab|>
      <tab.pane @title="People Mode">
        <Ui::BattleManager::GenericMode
          @models={{this.peoples}}
          @firstItem={{this.firstItem}}
          @secondItem={{this.secondItem}}
          @addFirstBattleItem={{this.addFirstBattleItem}}
          @addSecondBattleItem={{this.addSecondBattleItem}}
        />
      </tab.pane>
      <tab.pane @title="Starship Mode">
        <Ui::BattleManager::GenericMode
          @models={{this.starships}}
          @firstItem={{this.firstItem}}
          @secondItem={{this.secondItem}}
          @addFirstBattleItem={{this.addFirstBattleItem}}
          @addSecondBattleItem={{this.addSecondBattleItem}}
        />
      </tab.pane>
      <tab.pane @title="Mixed Mode">
        <Ui::BattleManager::GenericMode
          @models={{this.battlables}}
          @firstItem={{this.firstItem}}
          @secondItem={{this.secondItem}}
          @addFirstBattleItem={{this.addFirstBattleItem}}
          @addSecondBattleItem={{this.addSecondBattleItem}}
        />
      </tab.pane>
    </BsTab>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-sm-6">
        <label for="name">Battle Name</label>
        <input {{on 'input' this.updateBattleName}} />
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <button class="btn btn-primary" type="button" disabled={{not this.canCreateBattle}} {{on 'click' this.createBattle}}>Create battle</button>
      </div>
    </div>
  </div>

</div>