
<div class="row mt-4 form-group">
  <div class="col-sm-5" data-test-select-1>
    <label>Competitor #1</label>
    <PowerSelect
      @selected={{@firstItem}}
      @options={{without @secondItem @models}}
      @searchEnabled={{true}}
      @searchField="name"
      @placeholder="Select first Model"
      @onChange={{@addFirstBattleItem}} as |option|>
      {{option.id}}# {{option.name}}
    </PowerSelect>
  </div>
  <div class="col text-center"><strong>VS</strong></div>
  <div class="col-sm-5" data-test-select-2>
    <label>Competitor #2</label>
    <PowerSelect
      @selected={{@secondItem}}
      @options={{without @firstItem @models}}
      @searchEnabled={{true}}
      @placeholder="Select second Model"
      @searchField="name"
      @onChange={{@addSecondBattleItem}} as |option|>
    {{option.id}}# {{option.name}}
  </PowerSelect>
  </div>
</div>