<div class="card" ...attributes>
  <div class="card-header">{{@model.name}}</div>
  <div class="card-body">
    <div class="card-text">Wins: <span class="badge bg-success">{{@model.wins}}</span></div>
    <div class="card-text">Looses: <span class="badge bg-warning">{{@model.looses}}</span></div>
    <div class="card-text">Battles: <span class="badge bg-info">{{@model.battles.length}}</span></div>
    <dl class="mt-2">
      {{#each this.modelFields as |field|}}
        <Ui::Cart::Field @name={{field.name}} @value={{field.value}} />
      {{/each}}
    </dl>
  </div>
</div>