<div class="card" ...attributes data-test-battle-uid={{concat @model.id '_' @model.name}}>
  <div class="card-header" data-test-battlable-name>{{@model.name}}</div>
  <div class="card-body">
    <div class="card-text">Wins: <span class="badge bg-success" data-test-wins>{{@model.wins}}</span></div>
    <div class="card-text">Looses: <span class="badge bg-warning" data-test-looses>{{@model.looses}}</span></div>
    <div class="card-text">Battles: <span class="badge bg-info" data-test-battles>{{@model.battles.length}}</span></div>
    <dl class="mt-2">
      {{#each this.modelFields as |field|}}
        <Ui::Cart::Field @name={{field.name}} @value={{field.value}} data-test-field />
      {{/each}}
    </dl>
  </div>
</div>